<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <script src="/bootstrap.js" defer></script>
    <title>Add Product</title>
  </head>
  <body>
    <%- include("partials/navbar") %>
    <div class="container">
      <div class="main-content">
        <div class="header-addbtn">
          <h1>add a product</h1>
        </div>
        <div class="product-form">
          <form action="/new" method="post"></form>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
