@import "./bootstrap.css";

:root {
  --custbg-light: hsl(136, 54%, 83%);
}

.navbar-img {
  margin-right: 1rem;
}

.bg-custom {
  background-color: var(--custbg-light);
}

.footer {
  position: sticky;
  top: 100vh;
  width: 100%;
  background-color: var(--custbg-light);
}

.main-content {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  min-height: calc(100vh - 117px);
}

.sidebar-products {
  flex: 1;
  margin: 2rem 0;
  display: grid;
  grid-template-columns: minmax(20vw, 200px) auto;
  gap: 1rem;
  border-radius: 1rem;
  height: 100%;

  border: 1px solid rgba(0, 0, 0, 0.144);
}

.sidebar {
  background-color: #c9e6c42d;
  padding: 1rem;
  border-right: 1px solid rgba(0, 0, 0, 0.144);
  border-radius: 1rem 0 0 0;
}

.products-container {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 190px));
  grid-template-rows: 215px;
  align-items: start;
  gap: 1rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  background-color: hsla(120, 100%, 95%, 0.148);
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  gap: 1rem;
  transition: all 200ms ease;
}

.product-card:hover {
  box-shadow: rgba(0, 0, 0, 0.96) 0px 0px 4px;
  cursor: pointer;
}

.product-img {
  padding: 1rem 0 0 0;
}

.card-info {
  width: 100%;
}

.name-price {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  font-weight: 600;
  padding: 0rem 1rem;
}

.card-brand {
  font-size: 0.75rem;
  padding: 0rem 1rem;
  line-height: 0.1rem;
}

.badge {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
  width: 100%;
  border-radius: 0 0 1rem 1rem !important;
  border-top: 1px solid rgba(0, 0, 0, 0.078);
}

.text-bg-Meat {
  color: hsl(0, 100%, 98%);
  background-color: hsl(0, 100%, 43%);
}

.text-bg-Dairy {
  color: hsl(57, 100%, 16%);
  background-color: hsl(57, 100%, 96%);
}

.text-bg-Vegetable {
  color: hsl(113, 80%, 95%);
  background-color: hsl(113, 80%, 35%);
}

.text-bg-Fruit {
  color: hsl(337, 100%, 98%);
  background-color: hsl(337, 100%, 50%);
}

.text-bg-Seafood {
  color: hsl(227, 100%, 98%);
  background-color: hsl(227, 100%, 50%);
}

.text-bg-Bakery {
  color: hsl(35, 100%, 21%);
  background-color: rgb(255, 194, 108);
}

.text-bg-Grains {
  color: hsl(35, 100%, 27%);
  background-color: rgb(255, 227, 188);
}

.text-bg-Nuts {
  color: hsl(35, 38%, 25%);
  background-color: hsl(35, 38%, 65%);
}

.text-bg-Beverages {
  color: hsl(0, 21%, 92%);
  background-color: hsl(0, 21%, 32%);
}

.text-bg-Snacks {
  color: hsl(277, 72%, 99%);
  background-color: hsl(277, 72%, 29%);
}

.text-bg-Frozen {
  color: hsl(190, 64%, 21%);
  background-color: hsl(190, 64%, 81%);
}

.text-bg-Condiments {
  color: hsl(0, 88%, 27%);
  background-color: hsl(58, 100%, 66%);
}

.text-bg-Pantry {
  color: hsl(161, 88%, 97%);
  background-color: hsl(161, 82%, 37%);
}

.category-label {
  padding: 0rem 0.5rem;
  margin: 0.25rem;
  border-radius: 2rem;
}

form:hover {
  cursor: pointer;
}

.sidebar > *:not(:first-child) .form-title {
  margin-top: 1.5rem;
}

.form-title {
  font-weight: 600;
}
